/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.6;
    font-family: Arial, sans-serif;
    color: #000;
}

header {
    height: 100vh;
}

main {
    padding: 2rem;
    padding-top: 120px; /* Adjust this value to match the height of your navbar */
}

/* Section Styles */
main section {
    padding-top: 80px; /* Adjust this value to control the spacing below the navbar */
    margin-top: -80px; /* Same as padding-top to offset the section's position */
}

@media (max-width: 768px) {
    main {
        padding-top: 140px; /* Adjust this value for smaller screens if necessary */
    }
    main section {
        padding-top: 100px; /* Adjust this value for mobile view */
        margin-top: -100px; /* Same as padding-top to offset the section's position */
    }
}

/* Navigation Bar Styles */
.navbar {
    background-color: #04d;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease, background-color 0.3s ease, top 0.5s ease-in-out;
}

.navbar.sticky {
    background-color: #04d;
}

.logo img {
    width: 200px;
    height: 152px;
    object-fit: cover;
    border-radius: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    margin-right: 2rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #ccc;
}

/* Burger Menu Styles */
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 25px;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.5s ease-in-out;
}

.burger.active .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line2 {
    opacity: 0;
}

.burger.active .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Image Styles */
.logo img {
    width: 100px; /* Adjust this value to make the image fit better */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .logo img {
        width: 80px; /* Further reduce size for smaller screens */
    }
}


/* Mobile Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #04d;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 999;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    .burger {
        display: flex;
    }
}
